extends /template.pug

block body
  .about
    :markdown-it
      # Who's that d11n guy?

      Hi, I'm Dennis, a freelance software developer from Bremen, Germany.
      This website is a collection of the Bitcoin related content and code I write.

      After [ten years of freelancing](https://twitter.com/_d11n_/status/1212025648098742272)
      I decided to go [full-time open source](https://twitter.com/_d11n_/status/1212025650363666439)
      and do what I love most:
      Working on open software and Bitcoin related projects to do my share in making the world a better place by spreading the ideas of individual freedom and sound money.

      Besides working on [my own projects](https://github.com/dennisreimann?tab=repositories)
      I am involved with UI/UX and documentation improvements in several projects like
      [BTCPay Server](https://btcpayserver.org/) and the
      [Wasabi Wallet](https://docs.wasabiwallet.io/).
      Together with my peers
      [Markus](https://twitter.com/MarkusTurm/),
      [Gigi](https://twitter.com/dergigi/),
      [Fab](https://twitter.com/fabthefoxx/) and
      [Daniel](https://twitter.com/danielwingen/)
      I co-host the
      [Einundzwanzig podcast](https://twitter.com/_einundzwanzig_/)
      for the german speaking Bitcoin audience.

      If you like what I do and want to [support my efforts](/donate.html), please consider donating:
      I care less for the money, but really appreciate the gesture, your kindness and the virtual pat on the back!

      You can follow my on [Mastodon](https://bitcoinhackers.org/@d11n), [Twitter](https://twitter.com/_d11n_) or [GitHub](https://github.com/dennisreimann).
