extends /template.pug

block vars
  - const title = 'Building an API around Bitcoin and LND RPC'
  - const tags = ['Bitcoin', 'LND', 'Lightning Network', 'gRPC', 'JavaScript', 'Node', 'Node.js', 'Express', 'API']
  - const createdAtDate = '2019-03-01'
  - const createdAtBlock = 565217

block body
  include:markdown-it ../articles/bitcoin-lnd-rpc-api-express.md
