extends /template.pug

block vars
  - const title = 'The Path to Bitcoin Enlightenment'
  - const tags = ['Bitcoin', 'Enlightenment', 'Oxherding', 'Rabbit Hole']
  - const createdAtDate = '2019-11-04'
  - const createdAtBlock = 602367

block body
  .oxherding
    include:markdown-it ../articles/bitcoin-enlightenment-path-oxherding.md
