extends /template.pug

block body
  .donate
    :markdown-it
      # You feel like giving?

      Maybe I have helped you in some way, you enjoy using one of
      [my open source projects](https://github.com/dennisreimann) or the
      contributions I made to [BTCPayServer](https://btcpayserver.org) …

      Here you have the chance to say "Thank You!" by paying for my coffee, buy me a beer
      or help me feed our cat, dog and kids.
      Whatever you give, I really appreciate your kindness and the virtual pat on the back!

    .form-note
      style.
        .btcpay-form { display: flex; align-items: center; flex-wrap: wrap; gap: 1em; margin-bottom: 2em; }
        .btcpay-form div { display: flex; align-items: center; }
        .btcpay-form select { width: auto; height: 57px; margin-left: .25em; -moz-appearance: none; -webkit-appearance: none; appearance: none; color: var(--color-neutral-50); text-align: center; background: transparent; border: 1px solid transparent; display: block; padding: .4rem .25rem; margin-left: auto; margin-right: auto; font-size: 1rem; cursor: pointer; }
        .btcpay-form select:hover { border-color: var(--color-neutral-25); }
        #btcpay-input-price { width: 209px; height: 57px; text-align: right; border: none; box-shadow: none; text-align: center; font-size: 2rem; margin: auto; border-radius: 5px; background: #fff; }
      script.
        window.donation = {
          satsInitial: 21000,
          fiatInitial: 5,

          isSats () {
            return document.querySelector('#btcpay-currency').value === 'SATS';
          },
          onCurrency () {
            const isSats = this.isSats();
            const input = document.querySelector('#btcpay-input-price');
            input.value = isSats ? this.satsInitial : this.fiatInitial;
          }
        }

      <form method="POST" action="https://pay.d11n.net/api/v1/invoices" class="btcpay-form">
        <input type="hidden" name="storeId" value="7KTuEPBt882hPvictRVqzwHwaFrD2qXQ5bSF9dxtTMxT" />
        <input type="hidden" name="browserRedirect" value="https://d11n.net/thankyou.html" />
        <div>
          <input id="btcpay-input-price" type="number" name="price" min="1" step="1" value="21000" />
          <select id="btcpay-currency" name="currency" oninput="donation.onCurrency()">
            <option value="SATS" selected>SATS</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
          </select>
        </div>
        <input type="image" class="submit" name="submit" src="/images/pay.svg" style="width:209px" alt="Pay with BTCPay, Self-Hosted Bitcoin Payment Processor">
      </form>

      script.
        const [, a, c] = window.location.search.match(/([\d|.]+)(\w+)/) || []
        if (a && ['SATS', 'EUR', 'USD'].includes(c)) {
          document.querySelector('#btcpay-currency').value = c;
          donation.onCurrency();
          document.querySelector('#btcpay-input-price').value = a;
        }

      :markdown-it
        There is also the option to [become a sponsor](https://github.com/sponsors/dennisreimann) of mine on GitHub.
        This is a monthly recurring donation via fiat money.

      <p>You can also donate some sats
        <a href="lightning:LNURL1DP68GURN8GHJ7AMPD3KX2AR0VEEKZAR0WD5XJTNRDAKJ7TNHV4KXCTTTDEHHWM30D3H82UNVWQHKXUN0WAJX2ER9V9E8G6PN8QSKVTEZ">via Lightning</a>.</p>
        <a href="lightning:LNURL1DP68GURN8GHJ7AMPD3KX2AR0VEEKZAR0WD5XJTNRDAKJ7TNHV4KXCTTTDEHHWM30D3H82UNVWQHKXUN0WAJX2ER9V9E8G6PN8QSKVTEZ">
          <img src="/lnurl.png" alt="LNURL1DP68GURN8GHJ7AMPD3KX2AR0VEEKZAR0WD5XJTNRDAKJ7TNHV4KXCTTTDEHHWM30D3H82UNVWQHKXUN0WAJX2ER9V9E8G6PN8QSKVTEZ" style="width:256px;">
        </a>
