extends /template.pug

block body
  h1 Articles

  ul
    each article in siteData.articles
      li
        time.block(datetime=article.date)= article.block
        a(href=`/${article.name}.html`)= article.title
