extends /template.pug

block vars
  - const title = 'How channel capacity and liquidity affect payment routing'
  - const tags = ['Bitcoin', 'Lightning Network']
  - const createdAtDate = '2019-05-08'
  - const createdAtBlock = 575152

block body
  include:markdown-it ../articles/lightning-network-routing-payments-liquidity.md
