extends /template.pug

block body
  .donate
    :markdown-it
      # Thank you!

      That's freakin' awesome.
      <br>
      Thanks a lot, I really appreciate it!

      All the best,
      <br>
      :Dennis
