:root {
  --color-light: #fff;
  --color-dark: #222;
  --color-accent: #f9aa4b;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-family: Avenir,Helvetica,Arial,sans-serif;
  line-height: 1.65;
  height: 100%;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
  }
}

h1, h2, h3, h4, h5, h6 {
  /* font-weight: bold; */
  font-style: italic;
  letter-spacing: -.06em;
}

/* Layout */
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  width: 50vw;
  max-width: 400px;
}

.accent {
  fill: var(--color-accent);
}

.color {
  fill: currentColor;
}
