footer.footer
  .wrap
    p
      = "Follow  "
      a(href="/about.html") me
      = " on "
      a(href="https://bitcoinhackers.org/@d11n") Mastodon
      = ", "
      a(href="https://twitter.com/_d11n_") Twitter
      = " or "
      a(href="https://github.com/DennisReimann") GitHub
      |.

  .wrap
    if article
      p
        | Published at block height
        = ' '
        time(datetime=article.date)= article.block
        | .
        if article.filename
          = ' '
          a(href=`https://github.com/dennisreimann/d11n.net/blob/master/articles/${article.filename}`) (GitHub)
    if siteData
      p
        | Website last updated at block height
        = ' '
        time(datetime=siteData.date)= siteData.block
        | .
