footer.footer
  .wrap
    if createdAtBlock
      p
        | Published at block height #{createdAtBlock}
        if createdAtDate
          = ` (${createdAtDate})`
        | .
    if siteData.createdAtBlock
      p
        | Website last updated at block height #{siteData.createdAtBlock}
        if siteData.createdAtDate
          = ` (${siteData.createdAtDate})`
        | .
