extends /template.pug

block vars
  - const title = article.title
  - const keywords = article.tags
  - const description = article.description

block body
  .article(class=article.name)
    != article.content

  <form method="POST" action="https://pay.d11n.net/api/v1/invoices" class="say-thanks">
    <input type="hidden" name="storeId" value="7KTuEPBt882hPvictRVqzwHwaFrD2qXQ5bSF9dxtTMxT" />
    <input type="hidden" name="browserRedirect" value="https://d11n.net/thankyou.html" />
    <input type="hidden" name="notifyEmail" value="mail@d11n.net" />
    <input type="hidden" name="currency" value="SATS" />
    <span>Liked this? Say <em>thanks</em> with</span>
    <input id="btcpay-input-price" type="number" name="price" min="1" step="1" value="21" />
    <span>sats.</span>
    <button type="submit" class="cta" name="submit">Donate</button>
  </form>
