

@media (--L_and_up) {
  .bitcoin-enlightenment-path-oxherding div {

    margin: var(--space-xl) auto;
    display: grid;
    grid-column-gap: var(--space-xxl);
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'h f'
      'p f'
  }

  .bitcoin-enlightenment-path-oxherding div:nth-child(even) {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'f h'
      'f p'
  }

  .bitcoin-enlightenment-path-oxherding h3 {
    grid-area: h;
    align-self: end;
  }

  .bitcoin-enlightenment-path-oxherding p {
    grid-area: p;
    align-self: start;
  }

  .bitcoin-enlightenment-path-oxherding figure {
    grid-area: f;
  }
}

.bitcoin-enlightenment-path-oxherding figcaption {
  display: none;
}
