:root {
  --color-white: #fff;
  --color-black: #000;

  --color-neutral-10: #f2f4f5;
  --color-neutral-20: #e9ecee;
  --color-neutral-30: #d8dee2;
  --color-neutral-40: #8697a4;
  --color-neutral-50: #748797;
  --color-neutral-60: #536b7d;
  --color-neutral-70: #2d4557;
  --color-neutral-80: #192734;
  --color-neutral-90: #15202b;
  --color-neutral-95: #0d151e;

  --color-accent: #eeff00;
  --color-accent-highlight: #eeff00;

  --space-xxs: .125rem;
  --space-xs: .25rem;
  --space-s: .5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2.5rem;
  --space-xxl: 4rem;

  --font-family-base: Avenir,Helvetica,Arial,sans-serif;
  --font-family-head: Avenir,Helvetica,Arial,sans-serif;
  --font-family-code: "Fira Code", Hasklig, "Source Code Pro",  "DejaVu Sans Mono", Hack, Meslo, Menlo, Inconsolata, Consolas, "Liberation Mono", Courier, monospace;

  --font-size-xxl: 3.25rem;
  --font-size-xl: 2.25rem;
  --font-size-l: 1.75rem;
  --font-size-m: 1rem;
  --font-size-s: .8rem;
  --font-size-xs: .65rem;
  --font-size-code: .9rem;

  --transition-duration-fast: .25s;
  --transition-duration-medium: .75s;
  --transition-duration-slow: 1.5s;
}

@custom-media --up_to_M screen and (max-width: 639px);
@custom-media --up_to_L screen and (max-width: 959px);
@custom-media --M_to_L screen and (min-width: 640px) and (max-width: 959px);
@custom-media --M_and_up screen and (min-width: 640px);
@custom-media --L_and_up screen and (min-width: 960px);
