:root {
  --color-white: #fff;
  --color-black: #000;

  --color-neutral-10: #f2f4f5;
  --color-neutral-20: #e9ecee;
  --color-neutral-30: #d8dee2;
  --color-neutral-40: #8697a4;
  --color-neutral-50: #748797;
  --color-neutral-60: #536b7d;
  --color-neutral-70: #2d4557;
  --color-neutral-80: #192734;
  --color-neutral-90: #15202b;
  --color-neutral-95: #0d151e;

  --color-accent: #eeff00;
  --color-accent-highlight: #eeff00;

  --space-xxs: .125rem;
  --space-xs: .25rem;
  --space-s: .5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2.5rem;
  --space-xxl: 4rem;

  --font-family-base: Avenir,Helvetica,Arial,sans-serif;
  --font-family-head: Avenir,Helvetica,Arial,sans-serif;
  --font-family-code: "Fira Code", Hasklig, "Source Code Pro",  "DejaVu Sans Mono", Hack, Meslo, Menlo, Inconsolata, Consolas, "Liberation Mono", Courier, monospace;

  --font-size-xxl: 3.25rem;
  --font-size-xl: 2.25rem;
  --font-size-l: 1.75rem;
  --font-size-m: 1rem;
  --font-size-s: .8rem;
  --font-size-xs: .65rem;
  --font-size-code: .9rem;

  --transition-duration-fast: .25s;
  --transition-duration-medium: .75s;
  --transition-duration-slow: 1.5s;
}

html, .modal.page {
  color: var(--color-white);
  background: var(--color-neutral-80);
}

.top-header { background-color: var(--color-neutral-95); }

.top-header .timer-row__progress-bar {background:#eeff00;}

.top-header .timer-row {
  color: var(--color-neutral-95);
  background: var(--color-neutral-20);
}

.top-header .timer-row__spinner svg {
  fill: var(--color-neutral-95);
}

.close-icon { color: var(--color-white); }

.payment-tabs__slider {background: #eeff00; }

.separatorGem {background: #eeff00;}

line-items,
line-items .line-items,
.modal-content,
.currency-selection,
.single-item-order,
.payment-tabs,
.copyBox,
.copySectionBox.bottomBorder,
#prettydropdown-DefaultLang ul {
  color: var(--color-white);
  background: var(--color-neutral-90);
  border-color: var(--color-neutral-70);
}

.payment-tabs {
  background: var(--color-neutral-80);
}

.payment-tabs__tab.active {
  background: var(--color-neutral-70);
}

.action-button {
  color: var(--color-neutral-95);
  background: var(--color-accent);
  transition-property: color, background;
  transition-duration: var(--transition-duration-fast);
  border-color: var(--color-accent);
  border-radius: var(--space-xs);
  padding: var(--space-xs) var(--space-s);
  font-size: var(--font-size-m)
}

.action-button:hover,
  .action-button:focus,
  .action-button.focus {
    color: var(--color-neutral-95);
    background: var(--color-accent-highlight);
  }

.action-button:active,
.action-button.active,
.open>.action-button.dropdown-toggle {
  color: #fff;
  background-color: #eeff00;
  border-color: #eeff00;
}

.action-button:active:hover,
.action-button:active:focus,
.action-button:active.focus,
.action-button.active:hover,
.action-button.active:focus,
.action-button.active.focus,
.open>.action-button.dropdown-toggle:hover,
.open>.action-button.dropdown-toggle:focus,
.open>.action-button.dropdown-toggle.focus {
  color: #fff;
  background-color: #eeff00;
  border-color: #eeff00;
}

.btnGroupLnd {
  margin: var(--space-m) 0;
}

.btnGroupLnd button {
  border: 0;
  color: var(--color-white);
  background-color: var(--color-neutral-80)
}

.btnGroupLnd button:hover,
  .btnGroupLnd button.active,
  .btnGroupLnd button.active:hover {
    background-color: var(--color-neutral-70);
  }

.content-faded,
.manual__step-one__instructions,
.manual__step-two__instructions {
  color: var(--color-neutral-40);
}

.copySectionBox label {
  color: var(--color-white);
  opacity: 1;
}

.checkoutTextbox {
  border: 0;
  border-radius: var(--space-xs);
  color: var(--color-white);
  background: var(--color-neutral-70);
}

.inputWithIcon img,
.inputWithIcon i {
  border: none;
}

.copyLabelPopup {
  color: var(--color-white);
  background: var(--color-neutral-70);
}

.powered__by__btcpayserver {
  color: var(--color-neutral-40)
}

.powered__by__btcpayserver a {
    color: inherit
  }

.powered__by__btcpayserver a:hover {
      color: var(--color-accent-highlight);
    }
