body {
  display: flex;
  flex-direction: column;
}

.wrap {
  @media screen {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  @media (--up_to_M) {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }
  @media (--M_to_L) {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }
  @media (--L_and_up) {
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }
}

.header {
  color: var(--color-white);
  background: var(--color-neutral-95);

  & .wrap {
    display: flex;
  }
}

.logo {
  display: block;
  color: var(--color-white);
  margin-left: calc(var(--space-m) * -1);
  padding: var(--space-m);

  @media (--up_to_M) {
    height: 80px;
  }
  @media (--M_and_up) {
    height: 100px;
  }

  & .accent {
    fill: var(--color-accent);
    transition-property: fill;
    transition-duration: var(--transition-duration-fast);
  }

  & .color {
    fill: currentColor;
  }

  &:hover .accent,
  &:focus .accent {
    fill: var(--color-accent-highlight);
  }
}

.main {
  flex: 1;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.footer {
  color: var(--color-neutral-40);
  background: var(--color-neutral-95);
  font-size: var(--font-size-s);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.footer a + a {
  margin-left: var(--space-l);
}

@media (--M_and_up) {
  .footer .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
